<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProdutoController</servlet-name>
        <servlet-class>controller.ProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaController</servlet-name>
        <servlet-class>controller.MarcaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupermercadoController</servlet-name>
        <servlet-class>controller.SupermercadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BairroController</servlet-name>
        <servlet-class>controller.BairroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionController</servlet-name>
        <servlet-class>controller.SessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>controller.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaController</servlet-name>
        <servlet-class>controller.PesquisaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorios</servlet-name>
        <servlet-class>controller.Relatorios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdutoController</servlet-name>
        <url-pattern>/produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaController</servlet-name>
        <url-pattern>/marca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupermercadoController</servlet-name>
        <url-pattern>/supermercado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BairroController</servlet-name>
        <url-pattern>/bairro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionController</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaController</servlet-name>
        <url-pattern>/pesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorios</servlet-name>
        <url-pattern>/relatorios</url-pattern>
    </servlet-mapping>
    <session-config>
        <!--        <session-timeout>
            30
        </session-timeout>-->
    </session-config>
</web-app>
